#team .people {
  margin-top: 1em;
}

#team .people img {
  border-radius: 100%;
  width: 100%;
}

#team .names {
  font-family: 'Open Sans','Helvetica',Arial,sans-serif;
}

#team .names .name {
  margin-top: 0.7em;
  font-size: 1.3em;
}

#team .names .title {
  font-weight: 100;
}

#team .names .twitter a {
  font-weight: 100;
  text-decoration: none;
  color: white;
  border-bottom: 1px dotted rgba(255,255,255,0.5); 
  transition: border-bottom .1s linear;
}

#team .names .twitter a:hover {
  border-bottom: 1px dotted rgba(255,255,255,0); 
}