#team .people {
  margin-top: 1em;
  font-family: 'Open Sans','Helvetica',Arial,sans-serif;
}

#team .people > div {
  margin-bottom: 1em;
}

#team .people img {
  border-radius: 100%;
  width: 100%;
}

#team .people .name {
  margin-top: 0.7em;
  font-size: 1.3em;
}

#team .people .title {
  font-weight: 100;
}


#team .people .twitter a {
  font-weight: 100;
  text-decoration: none;
  color: white;
  border-bottom: 1px dotted rgba(255,255,255,0.5); 
  transition: border-bottom .1s linear;
}

#team .people .twitter a:hover {
  border-bottom: 1px dotted rgba(255,255,255,0); 
}

.yoicon {
  height: 3em;
  border-radius: 4px;
}

.space {
  margin-top: 2em !important;
}

.investors {
  padding: 10%;
  padding: 0;
}